<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.handysparksoft.trackmap">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_trackmap"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".features.entries.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.trackmap.TrackMapActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".features.create.CreateActivity"
            android:label="Create a Trackmap" />

        <service
            android:name=".core.platform.LocationForegroundService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".core.platform.LocationRestartForegroundService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
